#viajes, #destacados, #contacto {
    background: #000000 0% 0% no-repeat padding-box;
}
#enviarcontacto, .icono, .card-body, footer {
    background: rgb(13, 202, 240) ;
}
.tooltip {
    background: yellow;
}
